.mybutton {
    border: none;
    border-radius: 99px;
    width: 150px;
    padding: 12px;

    @media (max-width:550px) {
           padding: 9px 0px;

    }
}

.button-primary {
    background-color: rgb(226, 226, 226);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;

    @media (max-width:550px) {
        letter-spacing: 0.15px;
    }

}

.button-secondary {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
}