.mybutton {
    border: none;
    border-radius: 99px;
    width: 150px;
    padding: 12px;
}

.button-primary {
    background-color: rgb(226, 226, 226);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.25px;


}

.button-secondary {
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.25px;
}