@import './mixins';
@import './variables';
@import './fonts';
@import './buttons';
@import './home';

body {
  font-family: 'CustomFont', sans-serif;
}

@theme inline {
  --animate-cell-ripple: cell-ripple var(--duration, 200ms) ease-out none 1 var(--delay, 0ms);

  @keyframes cell-ripple {
    0% {
      opacity: 0.4;
    }

    50% {
      opacity: 0.8;
    }

    100% {
      opacity: 0.4;
    }
  }
}